:root {
  --salmon: #ef9d71;
  --black: #000;
  --white: #fff;
  --cyan: #203f40;
  --dsalmon: #532521;
  --dcyan: #1f2f32;
}
*::selection {
  background-color: rgb(108, 32, 23)  ;
}
body[theme="black"] {
  background-color: #000;
}
body[theme="black"] .section {
  color: #fff;
}
body[theme="salmon"] {
  background-color: salmon;
}
body[theme="salmon"].section {
  color: rgb(55, 7, 2);
}
body[theme="white"] {
  background-color: #fff;
}
.vdodiv{
  clip-path: circle(var(--clip)at 50% 50%);
}
body{
  transition:background-color ease-out .5s;
}